[submodule "src/drivers/hmi/button/button"]
	path = src/drivers/hmi/button/button
	url = ../../GeneralEmbeddedCLibraries/button.git
[submodule "src/middleware/filter"]
	path = src/middleware/filter
	url = ../../GeneralEmbeddedCLibraries/filter.git
[submodule "src/middleware/ring_buffer"]
	path = src/middleware/ring_buffer
	url = ../../GeneralEmbeddedCLibraries/ring_buffer.git
[submodule "src/middleware/cli/cli"]
	path = src/middleware/cli/cli
	url = ../../GeneralEmbeddedCLibraries/cli.git
